@media screen and (max-width:600px) {
    header {

        .header-wrapper {
            padding: 10px;

            h1 {
                font-size: 1.5rem;

                span {
                    font-size: 0.9rem;
                }
            }

            .mentor-btn {
                background-color: #30ad27;
                color: white;
                font-weight: bold;
            }

            .loguot-btn {
                background-color: #661807;
                color: white;
                font-weight: bold;
            }
        }
    }

    .home-page-body {
        flex-direction: column-reverse;
        height: auto !important;
        gap: 0.5rem;
        padding: .5rem !important;

        .student-section {
            align-items: center;
            gap: 2.5rem !important;

            h2 {
                font-size: 1.1rem;
                text-align: center;
            }

            .student-btn{
                height: 60px;
                width: 120px;
            }
        }
    }

    .lobby-page {
        height: 100%;

        .code-block-list {
            height: 70%;
            flex-direction: column;
            width: 50%;

            .code-block-preview {
                width: 100%;
            }
        }
    }

    .codeBlock-page {

        .codeBlock-page-wrapper {
            .codeBlock-page-header {
                h3 {
                    font-size: 1rem;
                }
            }

            .codeBlock-wrapper {
                margin-left: 0;
                font-size: 0.8rem;
            }
        }
    }
}