@media screen and (max-width:600px) {
    .header {
        padding: 0px;
    }

    .home-page-body {
        flex-direction: column-reverse;
        height: auto !important;
        gap: 0.5rem;
        padding: 0.5rem !important;

        .student-section {
            align-items: center;
            gap: 0.5rem !important;
            h2{
                font-size: 1.1rem;
            }
        }
    }

    .lobby-page {
        height: 100%;

        .code-block-list {
            height: 70%;
            flex-direction: column;
            width: 50%;

            .code-block-preview {
                width: 100%;
            }
        }
    }

    .codeBlock-page {

        .codeBlock-page-wrapper {
            .codeBlock-page-header {
                h3 {
                    font-size: 1rem;
                }
            }
            .codeBlock-wrapper{
                margin-left: 0;
                font-size: 0.8rem;
            }
        }
    }
}