.lobby-page {
    align-items: center;
    position: relative;

    h1 {
        margin: 30px 0 30px 0;
    }

    .code-block-list {
        gap: 1rem;
        width: 60%;
        flex-wrap: wrap;
        margin-top: 4.5rem;

        .code-block-preview {
            height: 10rem;
            width: 9rem;
            background-color: rgb(123, 123, 123);
            border-radius: 5px;
            cursor: pointer;
            text-align: center;
            justify-content: space-between;
            align-items: center;
            transition: $transition;

            .remove-btn {
                background-color: rgb(123, 123, 123);
                height: 30%;
                width: 40%;
                display: block;
                opacity: 0;
                border: none;
                transition: $transition;

                svg {
                    height: 100%;
                    width: 100%;
                }

                &:hover {
                    height: 33%;
                    width: 43%;
                }
            }

            &:hover {
                background: darken(rgba(123, 123, 123), 20%);
                color: $clr-white;

                .remove-btn {
                    opacity: 1;
                    background: darken(rgba(123, 123, 123), 20%);
                }
            }

            h4 {
                margin-top: 10px;
            }
        }
    }

    .floating-add-btn {
        position: absolute;
        left: 0;
        top: 0;
        margin: 30px 0 0 30px;

        .btn {
            border: none;
            font-weight: bold;
            background: rgba(123, 123, 123);

            &:hover {
                background: darken(rgba(123, 123, 123), 20%);
                color: $clr-white;
            }
        }
    }
}